<app-navbar *ngIf="currentPage" [pages]="pages" [currentPage]="currentPage" (clicked)="openForm()"
  (optionChanged)="onOptionChanged($event)" (logoutClicked)="logout()"></app-navbar>

<div class="pages-container">
  <router-outlet></router-outlet>

  <div class="form-new" [class.form-open]="newProjectFormOpen">
    <app-form-new-project (onCreated)="onProjectCreated($event)"></app-form-new-project>
  </div>
  <div class="form-new" [class.form-open]="newBugFormOpen">
    <app-form-new-bug [projects]="userProjects" (onCreated)="onBugCreated($event)"></app-form-new-bug>
  </div>
</div>
