$main-color: lighten(rgba(13, 71, 161, 0.5), 20);

.pages-container {
  position: relative;
}

.form-new {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  background-color: #fafafa;

  width: 0;
  height: calc(100% - 4px);

  overflow-y: scroll;

  -webkit-box-shadow: 1px 10px 18px 0px $main-color;
  -moz-box-shadow: 1px 10px 18px 0px $main-color;
  box-shadow: 1px 10px 18px 0px $main-color;

  transition: width 1s;

  app-form-new-project,
  app-form-new-bug {
    height: 100%;
  }
}

.form-new.form-open {
  width: 90%;
}
